@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: v.$blanco;
    padding: 1rem 2rem;
    box-shadow: 1px 12px 9px -13px rgba(0,0,0,0.6);

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    p{
        margin: 0;
        font-size: 1.4rem;
        color: v.$blanco;

        .bienvenida {
            color: v.$gris;
        }

        .usuario {
            font-weight: 700;
            color: v.$indigo;
        }
    }

    .cerrar-sesion {
        background-color: v.$indigo;
        color: v.$blanco;
        padding: 0.7rem 1.5rem;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-property: background-color;
        transition-duration: 0.3s;

        &:hover {
            background-color: darken(v.$indigo, 20%);
        }
    }
}