@use 'base/variables' as v;
@use 'base/mixins' as m;    

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 1000;

   .formulario{
        margin: 0 auto;
        background-color: v.$blanco;
        padding: 2rem;
        width: 90%;
        max-width: 500px;
        transition-property: all;
        transition-duration: 300ms;
        border-radius: 1rem;

        opacity: 0;
        transform: translateY(-3rem);

        legend {
            font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
            font-weight: bold;
            display: block;

        }

        input[type="text"] {
            border: 1px solid v.$gris;
            border-radius: .5rem;
        }

        .opciones {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }

        .submit-nueva-tarea{
            @include m.boton(v.$indigo, v.$blanco);

        }

        .cerrar-modal{
            @include m.boton(v.$naranja, v.$blanco);

        }

        &.animar {
            opacity: 1;
            transform: translateY(0);
        }

        &.cerrar {
            transform: translateY(-3rem);
            opacity: 0;
        }
   }
}